In [1]:
today_string = '2020-11-05'

In [2]:
from datetime import datetime
datetime.strptime(today_string, '%Y-%m-%d')

datetime.datetime(2020, 11, 5, 0, 0)

In [3]:
from datetime import date
birthday = date(1999,9,5)
birthday

datetime.date(1999, 9, 5)

In [ ]:
dayOfTheWeek = []

In [1]:
list(range(0,10)) + list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [5]:
s = 'Hello, world!'
s = s.replace('world!', 'Python')
s

'Hello, Python'

In [6]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [17]:
a = [i*i for i in range(1,10,2)]
a

[1, 9, 25, 49, 81]

In [18]:
a = [i*i for i in range(1:10:2)]
a

SyntaxError: invalid syntax (<ipython-input-18-27cf63ae16ab>, line 1)

In [19]:
a = [i for i in range(10)if 1 % 2 == 0]
a

[]

In [20]:
a = []
type(a)

list

In [21]:
b =list()
type(b)

list

In [23]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [25]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [27]:
d = list(range(10, 0 , -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
person = ('anne', 17, 175.3, True)
person

('anne', 17, 175.3, True)

In [29]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [30]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [31]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [32]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [34]:
type(a)

int

In [36]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [37]:
input().split()

10 20

['10', '20']

In [38]:
z = input().split()

10 20

In [39]:
z

['10', '20']

In [40]:
list(range(0,10))+ list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
'Hello,' + 'world!'

'Hello,world!'

In [42]:
'Hello, ' + str(10)

'Hello, 10'

In [44]:
'Hello, ' + str(1.5)

'Hello, 1.5'

In [45]:
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [46]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
len(a)

10

In [47]:
b = (38, 76, 43, 62, 19)
len(b)

5

In [50]:
len(range(0, 10, 2))

5

In [51]:
hello = 'Hello, world!'
len(hello)

13

In [53]:
hello = '안녕하세요'
len(hello)

5

In [54]:
len(hello.encode('utf-8'))

15

In [56]:
a = [38, 21, 53, 62, 19]
print(a[0])
print(a[2])
print(a[4])

38
53
19

In [57]:
a = [38, 21, 53, 62, 19]
len(a)

5

In [58]:
a[len(a) - 1]

19

In [59]:
a = [0, 0, 0, 0, 0]

In [60]:
a[0] = 38
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19

In [61]:
a

[38, 21, 53, 62, 19]

In [62]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [63]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
b[:len(a)]

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

In [64]:
b[4:7]

(40, 50, 60)

In [65]:
b[:7:2]

(0, 20, 40, 60)

In [66]:
hello = 'Hello, world!'
hello[2:9]

'llo, wo'

In [67]:
hello[2:]

'llo, world!'

In [68]:
range(10)[slice(4,7,2)]

range(4, 7, 2)

In [75]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
s = slice(4, 7)
a[s]

[40, 50, 60]

In [76]:
a[2:5] = ['a', 'b', 'c']
a

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [ ]:
slice len range(튜플,range,문자열은읽기전용)

append: 요소 하나를 추가  
extend: 리스트를 연결하여 확장  
insert: 특정 인덱스에 요소 추가

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
len(a)

4

In [3]:
a = []
a.append(10)
a

[10]

In [4]:
a = [10, 20, 30]
a.append([500, 600])
a

[10, 20, 30, [500, 600]]

In [5]:
len(a)

4

In [6]:
a = [10, 20, 30]
a.extend([500, 600])
a

[10, 20, 30, 500, 600]

In [7]:
len(a)

5

In [8]:
a = [10, 20, 30]
a.insert(2, 500)
a

[10, 20, 500, 30]

In [10]:
a = [10, 20, 30]
a.insert(len(a),500) #a.append(500)과 같다
a

[10, 20, 30, 500]

In [11]:
a = [10, 20, 30]
a.insert(1, [500, 600])
a

[10, [500, 600], 20, 30]

In [12]:
a = [10, 20, 30]
a[1:1] = [500, 600]
a

[10, 500, 600, 20, 30]

In [13]:
a = [10, 20, 30]
a.pop()

30

In [14]:
a

[10, 20]

In [15]:
a = [10, 20, 30]
a.pop(1)

20

In [16]:
a

[10, 30]

In [17]:
a = [10, 20, 30, 20]
a.remove(20)
a

[10, 30, 20]

In [21]:
a = [10, 20, 30, 15, 20, 40]
print(a.index(20))  # 2번째 1에 있다
print(a.count(20)) # 20이 2개가 있다.

1
2

In [22]:
a = [10, 20, 30, 15, 20, 40]
a.reverse() #내림차순 반대로
a

[40, 20, 15, 30, 20, 10]

In [23]:
a = [10, 20, 30, 15, 20, 40]
a.sort() #오름차순 
a

[10, 15, 20, 20, 30, 40]

In [24]:
a = [10, 20, 30]
a[len(a):] = [500]
a

[10, 20, 30, 500]

In [27]:
a = [10, 20, 30]
a[len(a):0] = [500]
a

[10, 20, 30, 500]

In [28]:
a = [10, 20, 30]
a[len(a):0] = [500, 600]
a

[10, 20, 30, 500, 600]

In [30]:
seq = [10, 20, 30]
seq[-1]

30

In [33]:
setdefault

SyntaxError: unexpected EOF while parsing (<ipython-input-33-d9d2889f72b9>, line 1)

In [35]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [43]:
a = [[20, 30], [70, 40], [45, 80]]
from pprint import pprint
pprint(a, indent = 4, width=20)

[   [20, 30],
    [70, 40],
    [45, 80]]

In [44]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:
    print(x, y)

10 20
30 40
50 60

In [48]:
a = [[10, 20], [30, 40], [50, 60]]

for i in a:
    for k in i:
        print(k, end=' ')
    print()

10 20
30 40
50 60

In [5]:
i = 0
while True:
    print(i)
    i += 1
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10):
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [9]:
 a = [[10, 20], [30, 40], [50, 60]]
for x,y in a:
    print(x,y)

10 20
30 40
50 60

In [11]:
 a = [[10, 20], [30, 40], [50, 60]]
for x,y in a:
    print(x)

10
30
50

In [17]:
 a = [[10, 20], [30, 40], [50, 60], [70, 80]]
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60
70 80

In [20]:
 a = [[10, 20], [30, 40], [50, 60], [70, 80]]   # 도대체 무슨 차이인거냐..결과가 완전다름
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

10 20
30 40
50 60
70 80

In [21]:
 a = [[10, 20], [30, 40], [50, 60], [70, 80]] # 도대체 무슨 차이인거냐..결과가 완전다름
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i], end=' ')
    print()

[10, 20] [10, 20]
[30, 40] [30, 40]
[50, 60] [50, 60]
[70, 80] [70, 80]

In [23]:
i = 0
while i < len(a):
    x, y = a[i]
    print(x, y)
    i += 1  #증가를 안하면 무한루프됨;; 10 20으로 ;;;;;;;;;;;;

10 20
30 40
50 60
70 80

In [25]:
i = 0
while i < len(a):
    x, y = a[i]  #변수2개를 다 가져와서
    print(y)  # 오른쪽 y만 출력하라 ㅋㅋ
    i += 1

20
40
60
80

In [26]:
i = 0
while i < len(a):
    y = a[i]  # 변수1개를 가져오는게아니라 그냥 y에 대입됨.
    print(y)  # 오른쪽 y만출력하는게 안됨... 그냥 다 출력된것임
    i += 1

[10, 20]
[30, 40]
[50, 60]
[70, 80]

In [32]:
a = []

for i in range(3):
    line = []
    for k in range(2):
        line.append(0)
    a.append(line)
    
print(a)

[[0, 0], [0, 0], [0, 0]]

In [35]:
a = [[0 for u in range(2)] for y in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [ ]:
line = None
while line != '':
    line = file.readline(
        print(line.st)

In [1]:
 ' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [3]:
'-'.join(['apple', 'pear'])

'apple-pear'

In [4]:
'python'.upper()

'PYTHON'

In [5]:
'PYTHON'.lower()

'python'

In [7]:
'        Python    '.strip()

'Python'

In [9]:
',  python.     '.strip(',. ')

'python'

In [14]:
import string   #.strip(string.punctuation) 공백은살려두고 모든 구두점 없애줌 
',  python.!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'.strip(string.punctuation)  #공백은 살려두고 구두점만 없애는..

'  python'

In [15]:
import string
',  python.!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'.strip('.') #.만 없애주는데

',  python.!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [20]:
'python'.center(10).upper()

'  PYTHON  '

In [25]:
'apple pineapple'.count('pp')

2

In [27]:
'I am %s.' %'james'

'I am james.'

In [36]:
name = 'maria'
'I am %s.' %name

'I am maria.'

In [31]:
'I am %d years old.' %20

'I am 20 years old.'

In [32]:
'%f' % 2.3

'2.300000'

In [33]:
'%.2f' %2.3

'2.30'

In [34]:
'%10s' %'python'

'    python'

In [41]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [42]:
'Today is %d%s.' % (3, 'April')

'Today is 3April.'

In [48]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [49]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [53]:
'{} {} '.format('Python', 'Script')

'Python Script '

In [55]:
language = 'Python'
version = 3.6
f'Hello, {{language}} {version}'

'Hello, {language} 3.6'

In [56]:
'{0:<10}'.format('python')

'python    '

In [57]:
'%03d' %1

'001'

In [58]:
'{0:03d}'.format(35)

'035'

In [60]:
format(1493500, ',')

'1,493,500'

In [62]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
x = path.split('\\')
filename = x[-1]
print(filename)

python.exe

In [4]:
print(4!)

SyntaxError: invalid syntax (<ipython-input-4-6fe806491f01>, line 1)