In [2]:
# 두 수의 합 구하기
a = 20
b = 30
c = a + b
print(c)

50

In [1]:
print()

## 키보드입력

In [2]:
name = input('이름을 입력하세요> ')

이름을 입력하세요> 홍길동

In [3]:
name

'홍길동'

In [ ]:
a = input('첫 번째 숫자')
b = input('두 번째 숫자')

# Q2-1.삼각형의 면적 구하기

In [4]:
width = 10
height = 3
area = width * height / 2
print('삼각형의 밑변 길이:', width)
print('삼각형의 높이:', height)
print('삼각형의 면적:', area)

삼각형의 밑변 길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

# Q2-2.거스름돈 계산하기

In [5]:
price = 800
buy = 3
pay = 5000
change=pay-price*buy
print('물건가격:',price,'원')
print('구매개수:',buy,'개')
print('지불금액:',pay,'원')
print('거스름돈:',change,'원')

물건가격: 800 원
구매개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

# Q2-3.다음 프로그램의 실행 결과는?

In [6]:
x = 20
y = 4

x = y % x
print(x)

y -= x * 2
print(x,y)

4
4 -4

# Q2-4.문자열 추출과 문자열 포맷팅

In [1]:
name = '홍길동'
age = 30
height = 171.5

print('성 :',name[0])
print('이름 :',name[1:])
print('%s의 나이:%d세, 키:%.2fcm' % (name, age, height))

성 : 홍
이름 : 길동
홍길동의 나이:30세, 키:171.50cm

# Q2-5.성적 평균 구하기

In [2]:
name = input('학생 이름 입력하세요 : ')
kor = int(input('국어 성적 입력하세요 : '))
eng = int(input('영어 성적 입력하세요 : '))
math = int(input('수학 성적 입력하세요 : '))

total = kor + eng + math
avg = total / 3

print('이름:%s, 국어:%d점, 영어:%d점, 수학:%d점, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름 입력하세요 : 홍길동
국어 성적 입력하세요 : 100
영어 성적 입력하세요 : 80
수학 성적 입력하세요 : 90
이름:홍길동, 국어:100점, 영어:80점, 수학:90점, 평균:90.0점

In [ ]:
name = input('학생 이름 입력하세요 : ')
kor = int(input('국어 성적 입력하세요 : '))
eng = int(input('영어 성적 입력하세요 : '))
math = int(input('수학 성적 입력하세요 : '))

total = kor + eng + math
avg = total / 3

print('이름:%s, 국어:%d점, 영어:%d점, 수학:%d점, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름 입력하세요 : 고채경

In [2]:
x = 10 % 3
y = 10 // 3
x, y

(1, 3)

In [3]:
9 / 3

3.0

In [4]:
9 // 3

3

In [5]:
x = 2 ** 3
x

8

In [6]:
2 ** -3

0.125

In [7]:
x = 10
x += 20                           
x

30

In [9]:
hello = '안녕' * 5
hello

'안녕안녕안녕안녕안녕'

In [10]:
len(hello)

10

In [11]:
len('나는 pytion을 좋아합니다.')

17

In [12]:
name = ' 홍지순'
greet = name + '님 안녕하세요?'
greet

' 홍지순님 안녕하세요?'

In [14]:
year = 2020
month = 8
day = 27

date = '%d-%02d-%02d' % (year, month, day)
date

'2020-08-27'

In [15]:
hello.count('안')

5

In [16]:
hello.count('안')

5

In [18]:
names = '김,이,박,최,정'
first_names=name.split(',')
first_names

[' 홍지순']

In [19]:
names = '김,이,박,최,정'
first_names = name.split(',')
first_names

[' 홍지순']

In [20]:
sep

NameError: name 'sep' is not defined

In [21]:
end

NameError: name 'end' is not defined

In [24]:
a=10
b=20
print(a,b)
print(a,b)sep=' '
print(a,b)end='\n'

SyntaxError: invalid syntax (<ipython-input-24-0fb66cb0387e>, line 4)

In [25]:
sum = first + second
sum

NameError: name 'first' is not defined

In [26]:
first = input('첫 번째 숫자')​
second = input('두 번째 숫자')

SyntaxError: invalid character in identifier (<ipython-input-26-615cc3c81b00>, line 1)

In [27]:
name = input('이름을 입력하세요> ')

이름을 입력하세요> 고채경

In [28]:
cm = 2.54 * inch
print('Inch: %.2f ==> Centimeter: %.2f % (inch,cm))

SyntaxError: EOL while scanning string literal (<ipython-input-28-d71afbe08e02>, line 2)

In [30]:
width = 10
height = 3
area = width * height / 2
print('삼각형의 밑변 길이:', width)
print('삼각형의 높이:', height)
print('삼각형의 면적:', area)

삼각형의 밑변 길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

In [32]:
price = 800
buy = 3
pay = 5000
change=pay-price*buy
print('물건가격:',price,'원')
print('구매개수:',buy,'개')
print('지불금액:',pay,'원')
print('거스름돈:',change,'원')

물건가격: 800 원
구매개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

In [33]:
x = 20
y = 4

x = y % x
print(x)

y -= x * 2
print(x,y)

4
4 -4

In [34]:
x=
y=
x=y %x

SyntaxError: invalid syntax (<ipython-input-34-035c9bff04d3>, line 1)

In [ ]:
print