# 값을 여러 개 출력하기

print(값1, 값2, 값3)  
print(변수1, 변수2, 변수3)

In [2]:
 #print에 변수나 값을 콤마로 구분해서 넣으면 각 값이 '공백으로 띄워져서' "한 줄"로 출력
print(1, 2, 3)               
print('Hello','Python')

1 2 3
Hello Python

###  sep로 값 사이에 문자 넣기 (separator 구분자)
print(값1, 값2, sep='문자 또는 문자열')  
print(변수1, 변수2, sep='문자 또는 문자열')

In [3]:
print(1, 2, 3, sep=', ')  # sep에 콤마와 공백을 지정

1, 2, 3

In [4]:
print(4, 5, 6, sep=',')  # sep에 콤마만 지정

4,5,6

In [5]:
print('Hello', 'Python', sep='') # sep에 빈 문자열을 지정 ___ 붙어서 나옴'ㅁ'

HelloPython

In [6]:
print(1920, 1080, sep='x')  # sep에 x를 지정 (일반적인 문자도 가능)

1920x1080

### 줄바꿈 개행

In [7]:
print(1, 2, 3)      # print는 한줄로 출력

1 2 3

In [8]:
print(1, 2, 3, sep='\n')  #줄바꿈 \n을 sep에 지정(제어문자이므로 화면에 출력되지 않음)

1
2
3

In [9]:
print('1\n2\n3')  #이것또한 같은결과 ㅋ

1
2
3

#### 제어문자
\n: 다음 줄로 이동하며 개행이라고도 부릅니다.  
\t: 탭 문자, 키보드의 Tab 키와 같으며 여러 칸을 띄웁니다.  
\\: \ 문자 자체를 출력할 때는 \를 두 번 써야 합니다.

### 줄바꿈의 반대 ㅋㅋ 한줄로 출력 end
print(값, end='문자 또는 문자열')  
print(변수, end='문자 또는 문자열')

In [12]:
print(1)
print(2)
print(3)  # 원래는 각각 3줄이 출력되는데

1
2
3

In [13]:
#end를 넣어 ''빈문자열을 지정하면 한줄로 출력됨. 
#본적으로 print의 end에 \n이 지정된 상태인데 
#빈 문자열을 지정하면 강제로 \n을 지워주기 때문입니다.
print(1, end='') 
print(2, end='') # ' '공백1칸을 넣으면 사이가 띄워짐
print(3)

123

# 코딩도장 퀴즈

#### 1. 다음 중 3.1 Python 100을 한 줄에 출력하는 방법
print(3.1, 'Python', 100)  

틀린것  
a. print(3.1 Python 100)  
b. print(3.1)  
   print('Python')  
   print(100)  
c. print(3.1, Python, 100)  
e. print(3.1; 'Python'; 100)  
print에서 값 여러 개를 출력할 때는 값을 콤마로 구분해서 넣어줍니다.  
그리고 문자열은 ' '(작은따옴표)로 묶어야 합니다.

#### 2. 다음 중 16:9를 출력하는 방법으로 올바른 것
print(16, 9, sep=':')

틀린것  
print(16:9)      #이것은 SyntaxError  
print(16, 9)             # 16 9 출력됨  
print(16, 9, end=':')   # 16 9: 로 출력됨  
print(16, :, 9)        # ':'스트링처리안해서 SyntaxError

#### 3. 다음 중 'Hello'와 'Python'을 두 줄로 출력하는 방법으로 올바른 것
print('Hello\nPython')  
print('Hello', 'Python', sep='\n')  
print('Hello', '\n', 'Python', sep='')  

print로 'Hello'와 'Python'을 두 줄로 출력하려면  
문자열 사이에 \n을 넣거나 sep에 \n을 지정합니다.  
또는 print에 'Hello', '\n', 'Python'을 콤마로 구분해서 넣고  
sep에 빈 문자열을 지정해도 됩니다.  

틀린것  
print('Hello', 'Python')   # 한줄출력됨  
print('Hello', 'Python', end='\n')  #end는 아님

# 코딩도장 연습문제

In [16]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

해설  
날짜와 시간이 한 줄로 출력되고 있고, 날짜와 시간 사이에는 공백이 들어있습니다.  
먼저 날짜는 /로 구분하고 있으므로 sep에 '/'를 지정합니다.  
그리고 공백이 출력되면서 그 다음에 오는 print의 결과가 한 줄로 출력될 수 있도록 end에 ' '를 지정합니다.  
시간은 :로 구분하고 있으므로 sep에 ':'를 지정하면 됩니다.

In [20]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999 12 31 10 37 21
1999-12-31 T 10:37:21

해설  
년, 월, 일, 시, 분, 초를 년-월-일T시:분:초 형식으로 출력해야 합니다.  
먼저 시간은 print(hour, minute, second, sep=':')와 같이 이미 출력하고 있습니다.  
따라서 날짜만 출력하면 됩니다.  
날짜는 년-월-일 형식이므로 print에 year, month, day를 넣고 sep에 '-'를 지정하여 -로 구분해줍니다.  
그다음에 날짜와 시간 사이에 Tend'T'를 지정합니다

In [22]:
input().split()
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

1999 12 31 10 37 21
1999/12/31 10:37:21