# Unit 10. 리스트와 튜플 사용하기

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
person = ['james', 17, 175.3, True] #여러가지 자료형섞어서 저장가능(문자열,정수,실수,불 등)
person

['james', 17, 175.3, True]

In [1]:
# 10.1.2 빈 리스트를 만드는 방법 ange사용
empty_list = []   # a = []  
el = list()       # b = list() 두가지 방법이 있다

In [ ]:
#반복문이다 
#합 sum=0 으로 시작 sum += 뭐
#곱 product=1로 시작 product *= 뭐
#문자열 str= ' '으로 시작 str += 뭐
#리스트 L = [ ]으로 시작 L.push(뭐)

In [4]:
# range (초기값, 종료값, 증가분) for( i=0, i<10, i++)비슷하게 생겼쥬?
range(9)     # 0~8까지! 9는포함안됨

range(0, 9)

In [5]:
a = list(range(10))  #10포함 안됨
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b = list(range(1,10))      # list(range(시작, 끝))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
c = list(range(1,10,2))       #같다 for(i=1; i<10; i+=2)
c

[1, 3, 5, 7, 9]

In [8]:
d = list(range(10, 0, -1))    #반대로 해도 되네~ list(range(시작, 끝, 증가폭))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 10.2 튜플 사용하기 (읽기전용리스트)
튜플 = (값, 값, 값)  
튜플 = 값, 값, 값

In [9]:
# tuple ()괄호사용 const같이 값이 바뀌지않아야 할때 사용
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [10]:
b = 23, 5, 32   #괄호가 생략된것! 괄호없이도 튜플가능! 쓰응모~우리승모천재! ㅋㅋ 이게뭐야?? 했는데 요렇게 나온다고 재미나다고? ㅋㅋ
b

(23, 5, 32)

In [11]:
person = ('james', 17, 175.3, True) #튜플도 리스트 같이 여러자료형을 섞어서 저장 가능
person

('james', 17, 175.3, True)

In [12]:
person = 3     #튜플은 변경추가삭제는 못시키지만, 변수명을 쓰는건 상관이 없없다..
person

3

In [13]:
# 한 개의 엘리먼트를 갖는 튜플 
(38)             #그냥 튕겨나오는것은 튜플이 아니다

38

In [14]:
(38,)           #그래서 ,쉼표 찍어줌

(38,)

In [15]:
    #복수 params [ 뭐,뭐,뭐 ]
    #한개 element 
    
    #SQLite3에서는 
    #튜플 (뭐,뭐,뭐)
    #     (뭐,)  쉼표 꼭 찍으세용

In [18]:
a = tuple(range(10))   #위에 list를 tuple로 바꿔줌 모두 가능!
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
b = tuple(range(1,10))
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
c = tuple(range(1,10,2))       
c

(1, 3, 5, 7, 9)

In [21]:
d = tuple(range(10, 0, -1))   
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [22]:
# List <--> Tuple  리스트가 튜플로 바뀌어 나옴 리스트안에튜플이들어가도되고, 튜플안에리스트가들어가도되고
tuple_a = tuple([1,2,3]) 
tuple_a

(1, 2, 3)

In [23]:
list_a = list((1,2,3))
list_a

[1, 2, 3]

In [24]:
#문자열이 들어오면 어떻게 될까
list('Hello')        # 쪼개짐 range가 펼쳐진듯.. 나열.. 시퀀스데이터 for let of 쓸수있다!!

['H', 'e', 'l', 'l', 'o']

In [25]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [26]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [27]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [29]:
x, y, z = 7, 8, 9   #다 됨
print(x, y, z)

7 8 9

In [30]:
#swapping
x = 10
y = 20
x, y = y, x
print(x, y)   #파이썬에서만 가능함ㅋ 뒤바뀌어 나옴ㅋ 신기하죠?

20 10

In [31]:
# 입력과 연계 
x = input()

10

In [32]:
print(x) #숫자일까 스트링일까? 스트링이다!

10

In [33]:
print(x, int(10))

10 10

In [34]:
x = input().split()  #'10 20 30' 이였던것이 ['10','20','30'] 리스트로 돌려주는것이 split

10 20 30

In [35]:
x

['10', '20', '30']

In [41]:
a,b,c = map(int, ['10', '20', '30'])  #함수, 엘리먼트
print(a,b,c)

10 20 30

In [42]:
a, b, c = map(int, input('숫자 3개 입력> ').split()) #중요중요 함수, 인풋, 리스트로변환

숫자 3개 입력> 10 20 30

In [43]:
print(a, b, c)

10 20 30

In [44]:
#파이썬스러운 코드 ㅎㅎ
[int(i) for i in input('숫자 3개 입력> ').split()]

숫자 3개 입력> 10 20 30

[10, 20, 30]

# 코딩도장 10.3 퀴즈

In [ ]:
#리스트만드는방법
a = [ ]
a = [10, 20, 30]
a = list(range(10, 31, 10))

In [ ]:
#튜플을 만드는 방법 값을 콤마로 구분한 뒤 ( )(괄호)로 묶어주거나, 
#튜플을 만드는 방법 괄호를 생략한 뒤 변수에 할당
#튜플을 만드는 방법 tuple을 사용
a = 10, 20, 30, False, 'Hello'
a = (False, 'Python')
a = tuple([10, 20, 30])
a = tuple(range(-10, 10, 3))  튜플 (-10, -7, -4, -1, 2, 5, 8)을 만드는 방법

# 코딩도장 10.4 연습문제

In [49]:
a = list(range(5, -10, -2))

In [ ]:
# range로 튜플을 만드는 문제
a = map(int, input('증가폭 입력> ').split()) # 글쎄다...

In [47]:
a = tuple(range(-10, 9, step))
print(a)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [48]:
a = list(range(-10, 9, 3))  #이건 리스트만드는거라 결과는같지만 틀린답
print(a)

[-10, -7, -4, -1, 2, 5, 8]

In [50]:
s = int(3)
s

3

In [52]:
x = tuple(range(-10,9,s))
x

(-10, -7, -4, -1, 2, 5, 8)